.navbar-container {
    /* background: linear-gradient(90deg, rgb(153, 140, 228) 0%, rgba(73,63,252,1) 100%); */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    /* z-index: 100; */
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
}

.nav-links {
    color: #5579C6;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    /* background-color: #6d76f7; */
    border-radius: 4px;
    transition: all 0.1s ease-out;
    text-decoration: underline orange 3px;
}

.menu-icon {
    display: none;
}
